html, body{
	height: 98%;
    max-height: 100%;
	text-align: center; 
	background: transparent; 
}
body{
	padding: 0 30px;
}
.images{
	border-radius: 25px;
    width: 205px;
    border: 1px solid black;
}
.immagine{
	width: 150px;
    height: 150px;
}
.footer{
	border-top: solid 2px black;
	/* margin-top: 4em;
	margin-bottom:0; */
}
.intro{
	color:#cc0000;
	text-align: left;
	font-size: 30px;
}
.descrizione{
	float:left;
	font-family:Rockwell;
	width: 569px;
	font-size: 24px;
	margin-left: 170px;
}
.testo{
	text-align: left;
}
.clear{
	clear: both;
}

/*effetto immagini scelta*/
.icone {
	float: right;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.icone:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.category{
	float:right;
	margin-top: 20px;
	margin-right: 165px;
}

/*TITOLO*/
.logout{
    position: absolute;
    left: 1em;
    font-size: 15px;
    font-family: Rockwell;
    top: 1.4em;
}
 h1 {
    position: relative;
    margin-top: 20px;
  }
  
  h1.one {
    margin-top: 0;
  }
  
  h1.one:before {
    content: "";
    display: block;
    border-top: solid 2px black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  
  h1.one span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
  }

.paragrafo{
	font-family: verdana;
	font-size: 15px;
}
/* PULSANTI*/ 
.centerImg{
	max-width: 100%;
	max-height: 100%;
	padding-top: 27px;
}
.hiddenDiv{
	max-height:100%;
	height:100%;
	width:100%;
	opacity:0.7;
	background: #000000;
	color:#ffffff;
	font-size:25px;
	font-style:bold;
	font-family:Rockwell;
	border-radius: 15px;
}
.square {
	cursor:pointer;
	position:relative;
	margin-top:20px;
	margin-right:20px;
	float:right;
    height: 120px;
    width: 120px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e68181), to(#bd4040));
    background: -webkit-linear-gradient(#e68181 0%, #bd4040 100%);
    background: -moz-linear-gradient(#e68181 0%, #bd4040 100%);
    background: -o-linear-gradient(#e68181 0%, #bd4040 100%);
	box-shadow: 0px 0px 2px #000000;
	border-radius: 15px;
}

.square .hiddenDiv {
    display:none;
    position:absolute;
    bottom:0;
}
.square:hover .hiddenDiv {
    display:block;
}
/* CART LINK */
.cartLink{
	color:black;
	cursor:pointer;
	position:absolute;
	right:0;
	top:0.9em;
	text-decoration: none;
}
.cartLink label{
	font-size:18px;
	font-family:Rockwell;
	cursor:pointer;
}
.cartBadge{
	font-size: 22px;
    display: inline-block; /* DEFAULT display:none;*/
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding: 0 !important;
    border-radius: 5em;
    top: -1.3em;
    left: 2.7em;
    z-index: 100 !important;
    background-color: black !important;
    color: darkorange;
}
/* CATEGORY LIST */
.categoryContent{
	width:10%;
	float:left;
	margin-bottom:25px;
}
.categoryType{
	font-family:Rockwell;
	color:#ffffff;
	text-shadow: 1px 1px #000000;
	list-style-type:none;
    margin:25px 0 25px 0;
}
.categoryType li {
	border-radius:5px;
	text-align: center;
    margin:30px 5px 0 0;
    width:120px;
    height:45px;
    position:relative;
}

.categoryType label, .categoryType input {
	border-radius:5px;
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.categoryType input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.categoryType li input[type="radio"]:checked + label{
	text-align: center;
    margin: 30px 5px 0 -12px;
    width: 131px;
    height: 38px;
    position:relative;
}

.categoryType input[type="radio"]:checked + label {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#F70E0E), to(#E61A1A));
    background: -webkit-linear-gradient(#F70E0E 0%, #E61A1A 100%);
    background: -moz-linear-gradient(#F70E0E 0%, #E61A1A 100%);
    background: -o-linear-gradient(#F70E0E 0%, #E61A1A 100%);
}

.categoryType label {
    padding:5px;
    border:1px solid #CCC; 
    cursor:pointer;
	z-index:90;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e68181), to(#bd4040));
    background: -webkit-linear-gradient(#e68181 0%, #bd4040 100%);
    background: -moz-linear-gradient(#e68181 0%, #bd4040 100%);
    background: -o-linear-gradient(#e68181 0%, #bd4040 100%);
    padding-top: 13px;
    padding-bottom: 0px;
}

.categoryType label:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#CB2121), to(#BC1E1E));
    background: -webkit-linear-gradient(#CB2121 0%, #BC1E1E 100%);
    background: -moz-linear-gradient(#CB2121 0%, #BC1E1E 100%);
    background: -o-linear-gradient(#CB2121 0%, #BC1E1E 100%);
}
/* TABELLA */
.tableDiv{
	float:right;
	width:80%;
}
table{
	font-family:Rockwell;
	width:100%;
	border-collapse: collapse;
}
th{
	color:#ffffff;
	text-shadow: 1px 1px #000000;
	background-color:#FF3232;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}
tr{
	background-color:#e0e0e0;
}
tr:nth-child(even){
	background-color: #f2f2f2
}
/* LOGIN */
.login{
	padding-top:4em;
	width:50%;
	border-right:2px solid #ff0000;
}
.login form{
	height: 18em;
    margin-bottom: 2em;
}
/* REGISTRATI */
.registrati{
	width:50%;
	float:right;
	margin-top:-23em;
	max-height:15em;
}
.scrollingForm{
	max-height: -webkit-fill-available;
    padding-top: 2px;
    overflow-y: auto;
}

/* INPUT FIELDS */
.inputFields input[type="text"], input[type="password"]{
	margin-bottom:5px;
     padding: 10px;
     font-size: 20px;
     border-width: 0px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 10px;
     box-shadow: 0px 0px 3px rgba(66,66,66,.58);
     text-shadow: undefined 0px 0px 5px px rgba(66,66,66,.75);
}
.inputFields input[type="text"]:focus, input[type="password"]:focus {
     outline:none;
}

/* SUBMIT BUTTON */
.submitFlat {
outline:none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 64px;
  position: relative;
  cursor: pointer;
  top: 25px;
  left: 0;
  padding: 10px 20px;
  border: 0 none rgb(0,0,0);
  border-bottom: 4px solid rgb(0,0,0);
  -webkit-border-radius: 7px 7px 9px 9px;
  border-radius: 7px 7px 9px 9px;
  font: normal normal bold 24px/40px "Averia Sans Libre", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: nowrap;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  text-shadow: 0 1px 1px rgba(0,0,0,0.498039) ;
}

.submitFlat:hover {
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

.submitFlat:active {
	
  border: none;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
}
#loginBtn{
	border-bottom: 4px solid rgb(39,174,96);
	background: linear-gradient(#95EB8B, #6fc273);
}
#loginBtn:active{
	background: rgb(39,174,96);
}
#registratiBtn{
	border-bottom: 4px solid rgb(255,165,0);
	background: linear-gradient(#FFC755, #F2B02C);
}
#registratiBtn:active{
	background:rgb(255,165,0);
}
/* WELCOME PAGE */
.welcome{
	font-family: Rockwell;
	font-size: 30px;
}
/* AGGIUNGI AL CARRELLO BUTTON */
.addToCart{
    position: inherit !important;
    font-size: inherit !important;
    padding-top: 1px !important;
    height: 2.5em;
    width: 14em;
    padding-left: 14px !important;
}
#usernameSpan{
	font-size:18px;
	position: absolute;
    left: 0;
    top: 2.9em;
}
/* CART SECTION BUTTONS */
.button{
	outline:none;
    width: 10.5em;
    height: 2.5em;
	font-family: Rockwell;
	font-size:20px;
	color:#ffffff;
	border-radius: 25px;
	border: 1px solid rgba(0,0,0,0.4) ;
	cursor: pointer;
}
.red{
	background: linear-gradient(#FF5959,#F04D4D);
}
.red:hover{
	background: linear-gradient(#F04D4D,#FF5959);
}
.lightblue{
	background: -webkit-linear-gradient(top,  rgba(153,204,255,1) 0%,rgba(102,178,255,1) 100%);
}
.lightblue:hover{
	background: -webkit-linear-gradient(top,  rgba(102,178,255,1) 0%,rgba(153,204,255,1) 100%);
}
.green{background: linear-gradient(#95EB8B, #6fc273);}
.green:hover{background: linear-gradient(#6fc273, #95EB8B);}

/* CART TABLE */
table.scroll {
    width: 100%;
    border-spacing: 0;
}

table.scroll th,
table.scroll td,
table.scroll tr,
table.scroll thead,
table.scroll tbody { display: block; }

table.scroll thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

table.scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.scroll tbody {
    height: 19.4em;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td,
table.scroll thead th {
    width: 15%;
    float: left;
}

thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}
tbody td:last-child, thead th:last-child {
    border-right: none !important;
}

/* SUMMARY DIV */
.summaryDiv{
	width:50%;
	font-family:Rockwell;
	height: 25em;
	float: left;
	border-radius: 2em;
}
.color1{background-color:aliceblue;}
.color2{background-color: lightgoldenrodyellow;}
.summaryDiv2{
	text-align:left;
	padding-left: 54px;
	font-size: 21px;
}